Repository StackExchange/dnscontrol, pull requests merged in 2024-10, with the labels that each got.

#3151 ORACLE: fix nameserver trailing dot error
  go.mod
  go.sum
  providers/oracle/oracleProvider.go
Labels: provider-ORACLE

#3153 PORKBUN: Update porkbun API endpoint per documentation / email
  providers/porkbun/api.go
Labels: provider-PORKBUN

#3167 NS1: Ignore RRSets of type REDIRECT
  providers/ns1/ns1Provider.go
Labels: provider-NS1

#3161 GCORE: Add support for GeoDNS/Failover
  documentation/provider/gcore.md
  integrationTest/integration_test.go
  providers/gcore/convert.go
  providers/gcore/convertMetadata.go
  providers/gcore/gcoreExtend.go
  providers/gcore/gcoreProvider.go
  providers/gcore/metaConstants.go
Labels: provider-GCORE

#3170 ORACLE: Handle the API's inconsistent NS "trailing dot" issue
  providers/oracle/oracleProvider.go
Labels: provider-ORACLE
