Repository StackExchange/dnscontrol, pull requests merged in 2024-12, with the labels that each got.

#3247 DOCS: Update Mattermost docs link
  documentation/notifications.md
Labels: Category: Documentation

#3264 DOC: NEW: How to test a branch
  documentation/SUMMARY.md
  documentation/test-a-branch.md
Labels: Category: Documentation

#3260 NAMEDOTCOM: BUGFIX: TXT records add unneeded quotes
  providers/namedotcom/auditrecords.go
  providers/namedotcom/records.go
  providers/namedotcom/records_test.go
Labels: provider-NAMEDOTCOM

#3269 AXFRDDNS: Add support for LOC records
  documentation/providers.md
  providers/axfrddns/axfrddnsProvider.go
Labels: provider-AXFRDDNS

#3274 CI/CD: Make titles easier to read
  .github/workflows/pr_build.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/release_draft.yml
Labels: build

#3277 MYTHICBEASTS: Add MYTHICBEASTS to automated tests
  .github/workflows/pr_integration_tests.yml
  providers/mythicbeasts/auditrecords.go
Labels: provider-MYTHICBEASTS
