Repository StackExchange/dnscontrol, pull requests merged in 2024-09, with the labels that each got.

#3105 POWERDNS: Improve preformance by using new batched add/remove functions in 0.6.6 API
  providers/powerdns/diff.go
Labels: provider-POWERDNS

#3107 RELEASE: Move some BYOS steps to be standard
  .github/workflows/pr_test.yml
  documentation/byo-secrets.md
  documentation/writing-providers.md
Labels: Category: Documentation

#3114 CLOUDNS: implement AutoDNSSEC (#747)
  documentation/providers.md
  providers/cloudns/api.go
  providers/cloudns/cloudnsProvider.go
Labels: provider-CLOUDNS
