Repository StackExchange/dnscontrol, pull requests merged in 2024-08, with the labels that each got.

#2726 GANDI: Adopt new Gandi v5 auth changes
  documentation/provider/gandi_v5.md
  integrationTest/providers.json
  providers/gandiv5/gandi_v5Provider.go
Labels: provider-GANDI

#3075 DOCS: add docs for NS1_URLFWD
  documentation/language-reference/domain-modifiers/NS1_URLFWD.md
Labels: provider-NS1

#3078 NS1: add warning for deprecated record
  providers/ns1/ns1Provider.go
Labels: provider-NS1

#3080 POWERDNS: Use canonical domain in calls to PowerDNS
  providers/powerdns/diff.go
  providers/powerdns/dns.go
Labels: provider-POWERDNS

#3064 PORKBUN: support URL Forward
  documentation/language-reference/domain-modifiers/PORKBUN_URLFWD.md
  integrationTest/integration_test.go
  models/domain.go
  models/record.go
  pkg/js/helpers.js
  providers/porkbun/api.go
  providers/porkbun/porkbunProvider.go
Labels: provider-PORKBUN
