Repository StackExchange/dnscontrol, pull requests merged in 2024-06, with the labels that each got.

#2984 DOCS: AUTODNSSEC_* improvements
  commands/types/dnscontrol.d.ts
  documentation/language-reference/domain-modifiers/AUTODNSSEC_OFF.md
  documentation/language-reference/domain-modifiers/AUTODNSSEC_ON.md
Labels: Category: Documentation

#2993 DOCS: Provide domain modifiers code examples with a Top Level Function D()
  commands/types/dnscontrol.d.ts
  documentation/language-reference/domain-modifiers/CAA_BUILDER.md
  documentation/language-reference/domain-modifiers/DMARC_BUILDER.md
  documentation/language-reference/domain-modifiers/IGNORE.md
  documentation/language-reference/domain-modifiers/M365_BUILDER.md
  documentation/language-reference/domain-modifiers/SSHFP.md
Labels: Category: Documentation

#2996 BUILD: GoReleaser v2.0.0
  .github/workflows/pr_test.yml
  .github/workflows/release_draft.yml
  .goreleaser.yml
Labels: build

#3000 CLOUDFLAREAPI: Enable DNSKEY, HTTPS, SVCB record types
  documentation/providers.md
  providers/cloudflare/cloudflareProvider.go
  providers/cloudflare/rest.go
Labels: provider-CLOUDFLAREAPI

#3012 PORKBUN: catch error on parsing api
  providers/porkbun/api.go
Labels: provider-PORKBUN

#3011 GCLOUD: Fix issue on creating/deleting/updating TXT records
  providers/gcloud/gcloudProvider.go
Labels: provider-GCLOUD

#3010 Add support for huaweicloud dns
  .github/workflows/pr_test.yml
  .goreleaser.yml
  OWNERS
  README.md
  documentation/SUMMARY.md
  documentation/provider/huaweicloud.md
  documentation/providers.md
  go.mod
  go.sum
  integrationTest/providers.json
  providers/_all/all.go
  providers/huaweicloud/auditrecords.go
  providers/huaweicloud/convert.go
  providers/huaweicloud/huaweicloudProvider.go
  providers/huaweicloud/listzones.go
  providers/huaweicloud/records.go
Labels: provider-HUAWEICLOUD
