Repository StackExchange/dnscontrol, pull requests merged in 2024-05, with the labels that each got.

#2949 DOCS: [OVH] Several improvements
  documentation/provider/ovh.md
Labels: Category: Documentation

#2948 TRANSIP: Concurrency documented
  documentation/providers.md
  providers/transip/transipProvider.go
Labels: Category: Documentation, provider-TRANSIP

#2957 TRANSIP: Completed/checked the missing capabilities
  documentation/providers.md
  providers/transip/transipProvider.go
Labels: Category: Documentation, provider-TRANSIP

#2969 DOCS: Fixed 404 URL's on GitHub page
  docs/index.md
Labels: Category: Documentation

#2968 DOCS: Removed the double Markdown header syntax.
  documentation/examples.md
Labels: Category: Documentation

#2971 DOCS: [get-zones] Removed old reference to `convertzone`
  documentation/get-zones.md
Labels: Category: Documentation

#2966 AXFRDDNS: Canonicalize key name as per RFC 2845 3.4.2
  providers/axfrddns/axfrddnsProvider.go
Labels: provider-AXFRDDNS
