Repository StackExchange/dnscontrol, pull requests merged in 2024-07, with the labels that each got.

#3019 PORKBUN: fix JSON unmarshal and add retry on rate limit
  providers/porkbun/api.go
  providers/porkbun/porkbunProvider.go
Labels: provider-PORKBUN

#3017 DESEC: Fix init
  providers/desec/desecProvider.go
  providers/desec/protocol.go
Labels: provider-DESEC

#3034 CLOUDFLARE: Fix another redirect bug
  providers/cloudflare/singleredirect.go
Labels: provider-CLOUDFLAREAPI

#3038 DOCS: CLOUDFLAREAPI - CF_SINGLE_REDIRECT
  documentation/SUMMARY.md
  documentation/language-reference/domain-modifiers/CF_SINGLE_REDIRECT.md
Labels: Category: Documentation

#2997 BUILD: Generate OWNERS files
  build/generate/generate.go
  build/generate/ownersFile.go
  documentation/writing-providers.md
  main.go
  providers/akamaiedgedns/akamaiEdgeDnsProvider.go
  providers/autodns/autoDnsProvider.go
  providers/axfrddns/axfrddnsProvider.go
  providers/azuredns/azureDnsProvider.go
  providers/azureprivatedns/azurePrivateDnsProvider.go
  providers/bind/bindProvider.go
  providers/bunnydns/bunnydnsProvider.go
  providers/cloudflare/cloudflareProvider.go
  providers/cloudns/cloudnsProvider.go
  providers/cscglobal/cscglobalProvider.go
  providers/desec/desecProvider.go
  providers/digitalocean/digitaloceanProvider.go
  providers/dnsimple/dnsimpleProvider.go
  providers/dnsmadeeasy/dnsMadeEasyProvider.go
  providers/doh/dohProvider.go
  providers/domainnameshop/domainnameshopProvider.go
  providers/dynadot/dynadotProvider.go
  providers/easyname/easynameProvider.go
  providers/exoscale/exoscaleProvider.go
  providers/gandiv5/gandi_v5Provider.go
  providers/gcloud/gcloudProvider.go
  providers/gcore/gcoreProvider.go
  providers/hedns/hednsProvider.go
  providers/hetzner/hetznerProvider.go
  providers/hexonet/hexonetProvider.go
  providers/hostingde/hostingdeProvider.go
  providers/huaweicloud/huaweicloudProvider.go
  providers/internetbs/internetbsProvider.go
  providers/inwx/inwxProvider.go
  providers/linode/linodeProvider.go
  providers/loopia/loopiaProvider.go
  providers/luadns/luadnsProvider.go
  providers/msdns/msdnsProvider.go
  providers/mythicbeasts/mythicbeastsProvider.go
  providers/namecheap/namecheapProvider.go
  providers/namedotcom/namedotcomProvider.go
  providers/netcup/netcupProvider.go
  providers/netlify/netlifyProvider.go
  providers/ns1/ns1Provider.go
  providers/opensrs/opensrsProvider.go
  providers/oracle/oracleProvider.go
  providers/ovh/ovhProvider.go
  providers/packetframe/packetframeProvider.go
  providers/porkbun/porkbunProvider.go
  providers/powerdns/powerdnsProvider.go
  providers/providers.go
  providers/realtimeregister/realtimeregisterProvider.go
  providers/route53/route53Provider.go
  providers/rwth/rwthProvider.go
  providers/softlayer/softlayerProvider.go
  providers/transip/transipProvider.go
  providers/vultr/vultrProvider.go
Labels: build

#3051 CLOUDFLAREAPI: CF_SINGLE_REDIRECT improvements: fix bugs, log translated redirects
  commands/types/dnscontrol.d.ts
  documentation/language-reference/domain-modifiers/CF_REDIRECT.md
  documentation/language-reference/domain-modifiers/CF_TEMP_REDIRECT.md
  documentation/provider/cloudflareapi.md
  integrationTest/integration_test.go
  models/record.go
  pkg/rtypes/postprocess.go
  providers/cloudflare/cloudflareProvider.go
  providers/cloudflare/rest.go
  providers/cloudflare/rtypes/cfsingleredirect/cfsingleredirect.go
  providers/cloudflare/rtypes/cfsingleredirect/convert.go
  providers/cloudflare/rtypes/cfsingleredirect/convert_test.go
  providers/cloudflare/rtypes/cfsingleredirect/from.go
  providers/cloudflare/rtypes/cfsingleredirect/native.go
Labels: provider-CLOUDFLAREAPI
