Repository StackExchange/dnscontrol, pull requests merged in 2025-01, with the labels that each got.

#3278 CICD: Update docs/comments after file renames
  .github/workflows/pr_build.yml
  .github/workflows/pr_integration_tests.yml
  documentation/byo-secrets.md
  documentation/integration-tests.md
  integrationTest/integration_test.go
Labels: Category: Documentation

#3281 MYTHICBEASTS: CHORE: fix code formatting
  providers/mythicbeasts/auditrecords.go
Labels: provider-MYTHICBEASTS

#3307 DOCS: Provider URI redirect
  build/generate/featureMatrix.go
  commands/types/dnscontrol.d.ts
  documentation/.gitbook.yaml
  documentation/SUMMARY.md
  documentation/bug-triage.md
  documentation/creds-json.md
  documentation/getting-started.md
  documentation/index.md
  documentation/language-reference/top-level-functions/NewDnsProvider.md
  documentation/language-reference/top-level-functions/NewRegistrar.md
  documentation/provider/index.md
  documentation/providers.md
  documentation/writing-providers.md
Labels: Category: Documentation

#3317 TESTING: Improve AXFRDDNS integration tests
  integrationTest/integration_test.go
  integrationTest/profiles.json
Labels: provider-AXFRDDNS

#3316 ROUTE53: Add HTTPS, SSHFP, SVCB, and TLSA record types
  documentation/provider/index.md
  providers/route53/route53Provider.go
Labels: provider-ROUTE53

#3355 HEXONET: Add error handling for MX and SRV record priority parsing
  providers/hexonet/records.go
Labels: provider-HEXONET

#3338 POWERDNS: fix preview/push of a non-existent zone
  providers/powerdns/dns.go
  providers/powerdns/dnssec.go
Labels: provider-POWERDNS

#3360 CNR: Add support for ALIAS record type
  README.md
  documentation/SUMMARY.md
  documentation/provider/index.md
  providers/cnr/cnrProvider.go
  providers/cnr/records.go
Labels: provider-CNR

#3372 HETZNER: adopt ZoneCache
  providers/hetzner/api.go
  providers/hetzner/hetznerProvider.go
  providers/hetzner/types.go
Labels: provider-HETZNER

#3373 CLOUDFLARE: adopt ZoneCache
  providers/cloudflare/cloudflareProvider.go
  providers/cloudflare/rest.go
Labels: provider-CLOUDFLAREAPI

#3377 INWX: Permit "." target for SRV records
  providers/inwx/auditrecords.go
Labels: provider-INWX

#3368 CLOUDFLAREAPI: No longer treat TTL=300 as special
  documentation/provider/cloudflareapi.md
  providers/cloudflare/cloudflareProvider.go
Labels: provider-CLOUDFLAREAPI

#3378 TRANSIP: Pause when rate-limited
  providers/transip/retry.go
  providers/transip/transipProvider.go
Labels: provider-TRANSIP
