Repository StackExchange/dnscontrol, pull requests merged in 2025-08, with the labels that each got.

#3701 DOCS: AdGuardHome feedback
  documentation/provider/adguardhome.md
Labels: Category: Documentation

#3719 DOCS/rtypes: consistently use pushd
  documentation/advanced-features/adding-new-rtypes.md
Labels: Category: Documentation

#3746 PORKBUN: Configurable retry parameters
  documentation/provider/porkbun.md
  integrationTest/profiles.json
  providers/porkbun/api.go
  providers/porkbun/porkbunProvider.go
Labels: provider-PORKBUN

#3713 DOCS: AXFR+DDNS uses TCP by default
  documentation/provider/axfrddns.md
Labels: Category: Documentation, provider-AXFRDDNS
