Repository StackExchange/dnscontrol, pull requests merged in 2025-03, with the labels that each got.

#3472 BUNNY_DNS: Add support for `Redirect` record
  documentation/provider/bunny_dns.md
  models/domain.go
  pkg/js/helpers.js
  providers/bunnydns/bunnydnsProvider.go
  providers/bunnydns/convert.go
  providers/bunnydns/records.go
Labels: provider-BUNNY_DNS

#3494 AUTODNS: enable concurrent gathering of zones
  providers/autodns/api.go
  providers/autodns/autoDnsProvider.go
Labels: provider-AUTODNS

#3502 INWX: use provisioned nameservers, fall back to hardcoded defaults
  providers/inwx/inwxProvider.go
Labels: provider-INWX

#3501 INWX: move to diff2 for record corrections
  providers/inwx/inwxProvider.go
Labels: provider-INWX
