Repository StackExchange/dnscontrol, pull requests merged in 2025-06, with the labels that each got.

#3592 CNR: Update docs with proper Nameserver example
  documentation/provider/cnr.md
Labels: provider-CNR

#3617 DIGITALOCEAN: DOCS: update instructions for creating API token
  documentation/provider/digitalocean.md
Labels: provider-DIGITALOCEAN

#3619 DOCS: add links to help jump to provider table anchors
  build/generate/featureMatrix.go
  documentation/provider/index.md
Labels: Category: Documentation

#3625 DOCS: Linkspector URI fixes
  .linkspector.yml
  documentation/advanced-features/adding-new-rtypes.md
  documentation/advanced-features/writing-providers.md
  documentation/index.md
  documentation/provider/axfrddns.md
Labels: Category: Documentation
