Repository StackExchange/dnscontrol, pull requests merged in 2025-02, with the labels that each got.

#3404 POWERDNS: Allow editing the SOA record
  documentation/provider/index.md
  documentation/provider/powerdns.md
  providers/powerdns/dns.go
  providers/powerdns/powerdnsProvider.go
Labels: provider-POWERDNS

#3333 DNSMADEEASY: populate zone cache after creating zone
  providers/dnsmadeeasy/api.go
  providers/dnsmadeeasy/dnsMadeEasyProvider.go
  providers/dnsmadeeasy/restApi.go
Labels: provider-DNSMADEEASY

#3440 OVH: Bugfix: Native DMARC records rejected for subdomains
  providers/ovh/protocol.go
Labels: provider-OVH
