Repository StackExchange/dnscontrol, pull requests merged in 2025-05, with the labels that each got.

#3547 BUNNY_DNS: Support DNSSEC and fix Null MX parsing
  documentation/provider/index.md
  providers/bunnydns/api.go
  providers/bunnydns/bunnydnsProvider.go
  providers/bunnydns/convert.go
  providers/bunnydns/dnssec.go
  providers/bunnydns/records.go
Labels: provider-BUNNY_DNS

#3534 INWX: Add AutoDNSSEC support
  documentation/provider/index.md
  providers/inwx/dnssec.go
  providers/inwx/inwxProvider.go
Labels: provider-INWX

#3525 POWERDNS: Add support for DNAME, HTTPS, SVCB, and DNSKEY record types
  documentation/provider/index.md
  providers/powerdns/diff.go
  providers/powerdns/powerdnsProvider.go
Labels: provider-POWERDNS

#3538 NAMECHEAP: fix support for url etc records
  integrationTest/helpers_integration_test.go
  integrationTest/integration_test.go
  providers/namecheap/namecheapProvider.go
Labels: provider-NAMECHEAP

#3519 INWX: BUGFIX: Cache problem: use domain ACE encoding as cache key
  providers/inwx/inwxProvider.go
Labels: provider-INWX

#3499 INWX: support ALIAS records
  providers/inwx/inwxProvider.go
Labels: provider-INWX

#3526 AZURE_DNS: Dedupe nameserver
  integrationTest/provider_test.go
  models/record.go
  providers/azuredns/azureDnsProvider.go
Labels: provider-AZURE_DNS

#3479 DESEC: Properly support punycode domains
  providers/desec/convert.go
  providers/desec/desecProvider.go
Labels: provider-DESEC

#3580 DOCS: Update providers and registrars list to latest
  README.md
Labels: Category: Documentation

#3585 DOCS: document redirect types
  documentation/language-reference/domain-modifiers/FRAME.md
  documentation/language-reference/domain-modifiers/URL.md
  documentation/language-reference/domain-modifiers/URL301.md
Labels: Category: Documentation

#3575 DOCS: Update reference to providers index in PR submission checklist
  documentation/writing-providers.md
Labels: Category: Documentation
